body {
  background-color: rgb(44, 17, 69);
  color: rgb(178, 134, 208);
  padding: 0;
  margin: 0;
}

div.row {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.row:before, div.row:after {
  content: '';
  display: block;
  clear: both;
}

div.row>div {
  float: left;
  height: 100%;
}

div.row>div.left {
  width: 200px;
}

div.row>div.right {
  /* background-image: url("../image/a.jpg"); */
  background-color: rgb(43, 0, 70);
  width: 300px;
}

div.row>div.left {
  overflow: auto;
  border-right: 1px solid rgb(178, 134, 208);
}

div.left>ul, div.left>ul>li {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.left>ul {
  height: 32px;
  border: 2px solid rgb(178, 134, 208);
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  padding: 5px;

}

div.left>ul>li {
  padding: 5px 5px 0 5px;
}

div.left>ul>li:last-child {
  padding-bottom: 5px;
  text-align: right;
}

div.right {
  padding: 10px;
}

.movieBox{
  overflow: hidden;
  cursor: pointer;
  transition: height .15s;
}
